.navleft {
    display: flex;
    gap: 2rem;
    align-items: center;
  }
  
  .cadastrese {
    background-color: black;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    text-decoration: none;
  }

  .navlinksl {
    text-decoration: none;
    color: black;
    font-weight: bolder;
  }

  .banner{
    width: 20%;
    min-width: 20%;
    height: 160px;
    min-height: 160px;
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 10px;
    padding-right: 50px;
    margin:auto;
    padding-top: 0;
}

@media screen and (max-width: 768px) {
  .banner {
      width: 250px;              /* Reduz o tamanho máximo em tablets */
      height: auto;                  /* Ajusta automaticamente a altura */
  }
}

@media screen and (max-width: 480px) {
  .banner {
      width: 200px;              /* Reduz o tamanho máximo em dispositivos móveis */
      height: auto;                  /* Garante que a altura seja proporcional */
  }
}

.backButton {

    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
    
    
}

.description {
    color: #555;
    margin-bottom: 1rem;
    line-height: 1.6;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
  }

 .names {
    color: #555;
    margin-bottom: 1rem;
    line-height: 1.6;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
  }